<ul>

  <% @sights.each do |sight| %>
    <% sight.on_bucket_list? %>
    <% sight.visited? %>

  <li >
      <a href="/sights/<%= sight.id %>">
        <%= sight.name   %>
        <% city = sight.city   %> <%= city["name"]%>
        <% country = sight.country   %> <%= country["name"]%>
        <% continent = sight.continent   %> <%= continent["name"]%>
      </a>

      <% if sight.on_bucket_list? %>
        <i class="fab fa-bitbucket"></i>
      <% else %>
        <i class="fas fa-plus"></i>
      <% end %>

      <% if sight.visited? %>
        <i class="fas fa-plane-arrival"></i>
      <% end %>




    </li>

    <% end %>

  </ul>
