  <ul>

    <% @sights.each do |sight| %>
      <% sight.on_bucket_list? %>
      <% sight.visited? %>
    <li>
        <a href="/sights/<%= sight.id %>">
          <%= sight.name   %>
          <% city = sight.city %> <%= city["name"]%>
          <% country = sight.country %> <%= country["name"]%>
          <% continent = sight.continent %> <%= continent["name"]%>

        </a>
      </li>

      <% end %>

    </ul>
