<form class="" action="/sights/<%= @sights.id %>" method="post">
  <input type="hidden" name="_method" value="put">


  <label for="sight-name">Sight name:</label>
    <input id="sight-name" type="text" name="name" value="<%= @sights.name %>" />





    <label for="city-select">Select City:</label>
  <select name="city_id" id="city-select" selected="<%= @sights.city_id %>">
    <% @cities.each do |city| %>
      <% if city.id == @sights.city_id %>
        <option value=<%= city.id %> selected> <%= city.name %> </option>
      <% else %>
        <option value=<%= city.id %> > <%= city.name %> </option>
      <% end %>
    <% end %>
  </select>













  <input type='submit' value="edit sight"/>
</form>

  <p>
<form action="/sights/<%= @sights.id %>/delete" method="POST">
  <input type='submit' value="delete" />
</form>
</p>
